body{background-color: rgb(252, 250, 250);}
.jumbotron {
    text-align: center;
    background-color: rgb(252, 250, 250)!important;
    color: white;
  margin:0;
  padding:20px 40px;

}

#Headingtxt {
    color: red;
    font-weight: none;
    font-style: oblique;
    font-family: "Times New Roman", Times, Sans-serif;

}
.container-fluid{
  padding:0;
  margin:0;
}
#wrap {
    background: grey;
    padding: 5%;
    text-align: center;
    width: 95%;  
    margin:auto;
}
#innertextdiv{
  background-color:grey;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: inset;
  border-width: 10px;
}
 #volume {
     background: #ccc;
     display: inline-block;   
     border-style: inset;
  border-width: 10px;

}

#myRange, #myRange2 {
  outline: 4px solid black
}


#heartBeat-img {
    height: 200px;
    width: 200px;
 display: inline-block; 
  padding: 10px;
  z-index: 1;
  text-align:center;
}
.heart1{
  position: relative;
  height: 250px;
  text-align:center;
}


.card {
    margin: 0 auto;
    background-color: blue;
    width: 900px;
    margin-top: 40px;
    padding: 35px;
    text-align: center;
    color: white;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-apprearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-trasnition: .2s;
    transition: opacity .2s;
}

.slide:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
#iframebox{
   margin:0;
}
#centerbox{
  background-color: lightgrey;
  padding: 20px;
  border-style: outset;
  border-width: 20px;
}
.outsidediv{
  border-style: inset;
  border-width: 10px;
  background-color: rgb(161, 161, 161);
}
.backgroundimage{border: 70px solid transparent;
    
  border-image: url('https://cdn.glitch.com/3264852e-68ba-479c-a7bc-5383a47d9171%2Fpillars3.png?v=1581565796481');
  border-image-slice: 200;
  border-image-repeat:stretch;

}
html, body {
    margin: 0;
    height: 100%;
}
body {
    box-sizing: border-box;
}
.gettingridofpadding{
  padding-bottom:0;
}
